@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

:root {
    --backgroundTop: #1B7F7A;
    --background: #4CABA6;
    --content: #ffffbf;
    --contentTop: #b6ea72;
}

.container,
.main {
    max-width: 1000px;
    margin: 0 auto;
}


.loader {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.refresher {
    width: 100%;
    height: 100%;
    color: var(--contentTop);
}


.main{
    margin: 10px;
    border-radius: 20px;
    background-color: var(--background);
}

.top{
    height: 60px;
    background-color: var(--backgroundTop);
    padding: 10px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
    display: flex;
    justify-content: space-between;
}

.header{
    background-color: var(--backgroundTop);
    color: var(--contentTop);
    margin: 10px 0px 0px 10px;
    font-size: 25px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
    font-weight: bold;
}

.button{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.day{
    padding: 15px;
    color: var(--content);
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    font-weight: 800;
}

.temp{
    padding: 15px;
    color: var(--content);
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    font-weight: 800;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.sunrise-sunset{
    padding: 15px;
    color: var(--content);
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
    font-weight: 800;
}

.description{
    padding: 15px;
    color: var(--content);
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 800;
}

.forecast{
    border-radius: 20px;
    background-color: var(--background);
    color: var(--content);
    padding: 10px;
    margin: 10px;
    font-family: 'Recursive', sans-serif;
    font-size: 19px;
    font-weight: 800;
}

.flex-forecast{
    display: flex;
    justify-content: space-between;
}
